body {
    min-height: 100vh;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;

    background: url("/static/bg.png") no-repeat center center/cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(50px);
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.25);
    max-width: 420px;
    width: 90%;
}

h1 {
    font-size: 2.5rem;
}

