<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drink Water Reminder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-light">
    <div class="container text-center mt-5">
        <h1 class="mb-4">💧 Drink Water Reminder</h1>
        <p>Get notified every hour to drink water</p>

        <button onclick="startReminder()" class="btn btn-success m-2">
            Start Reminder
        </button>

        <button onclick="stopReminder()" class="btn btn-danger m-2">
            Stop Reminder
        </button>

        <p id="status" class="mt-3"></p>
    </div>

    <script>
    function startReminder() {
        fetch('/start')
            .then(response => response.json())
            .then(data => {
                document.getElementById("status").innerText =
                    "Reminder Started 💧";
            });
    }

    function stopReminder() {
        fetch('/stop')
            .then(response => response.json())
            .then(data => {
                document.getElementById("status").innerText =
                    "Reminder Stopped ❌";
            });
    }
    </script>

</body>
</html>
